<nav
  class="top-0 w-full z-20 top-0 left-0 border-b border-gray-200 sticky top-0 z-50 w-full shadow"
>
  <div class="flex flex-wrap items-center justify-between mx-auto py-4 px-8">
    <div class="flex gap-2">
      <button
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm hover:rounded-full hover:bg-gray-200"
      >
        <span class="sr-only">Open main menu</span>
        <i class="bi bi-list text-2xl"></i>
      </button>
      <a href="#" class="flex items-center">
        <span class="self-center text-2xl font-bold whitespace-nowrap">{{
          title
        }}</span>
      </a>
    </div>

    <div class="flex gap-2">
      <button
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm hover:rounded-full hover:bg-gray-200"
        aria-expanded="false"
      >
        <div class="flex justify-center items-center">
          <div class="relative py-2">
            <div class="t-0 absolute left-3">
              <p
                class="flex h-1 w-1 items-center justify-center rounded-full bg-red-500 p-2 text-xs text-white"
              >
                {{ cartCount }}
              </p>
            </div>
            <i class="bi bi-cart2 text-2xl"></i>
          </div>
        </div>
      </button>
      <button
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm hover:rounded-full hover:bg-gray-200"
        aria-expanded="false"
      >
        <div class="flex justify-center items-center">
          <i class="bi bi-person text-2xl"></i>
        </div>
      </button>
    </div>
  </div>
</nav>
