<ng-container>

  <!-- Main modal -->
<div tabindex="-1" aria-hidden="true" class="absolute z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full flex justify-center items-center h-screen">
    <div class="h-screen w-full absolute h-full bg-gray-500 opacity-30"></div>
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Sign in to our platform</h3>
                <form class="space-y-6" action="#">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                        <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
                            </div>
                            <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
                        </div>
                        <a href="#" class="text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>
                    </div>
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login to your account</button>
                    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                        Not registered? <a href="#" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex fixed bottom-5 right-5 flex items-center"
    (click)="addNewProduct()"
  >
    <i class="bi bi-plus-lg mr-3"></i>
    <span>Add Product</span>
  </button>

  <div class="flex flex-col gap-3">
    <div class="grid gap-3">
      <div
        class="bg-white shadow rounded-lg p-8 2xl:col-span-2 w-full"
        *ngFor="let post of productItems$"
      >
        <div class="flex flex-col w-full gap-4">
          <div class="flex-shrink-0 w-full">
            <div class="flex items-center justify-between gap-3">
              <div class="gap-2">
                <p class="font-bold text-xl">{{ post.itemname }}</p>
                <p>{{ post.itemdesc }}</p>
              </div>
              <div class="flex flex-col">
                <div
                  class="inline-flex items-center text-base font-semibold text-gray-900"
                >
                  {{ post.itemnewprice }}
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-start gap-2">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded"
            >
              <i class="bi bi-pencil-square pr-2"></i>
              <span>Edit</span>
            </button>
            <button
              class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded"
            >
              <i class="bi bi-x-lg pr-2"></i>
              <span>Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
